version: "3.9"

services:

  # OBSERVABILITY STACK
  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    ports:
      - "3100:3100" # HTTP API Loki
    volumes:
      - ./observability/loki/loki-config.yaml:/etc/loki/config.yaml # конфиг Loki
      - ./observability/loki/data:/loki # данные Loki
    command: -config.file=/etc/loki/config.yaml

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: prometheus
    ports:
      - "9090:9090" # веб-интерфейс Prometheus
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml # конфиг Prometheus
      - ./observability/prometheus/data:/prometheus # данные метрик
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.enable-remote-write-receiver"

  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    ports:
      - "12345:12345" # HTTP Alloy (метрики + статус)
      - "4318:4318"   # OTLP/HTTP вход для .NET
    volumes:
      - ./observability/alloy/config.alloy:/etc/alloy/config.alloy # конфиг Alloy
    command: run /etc/alloy/config.alloy
    depends_on:
      - loki
      - prometheus


  # .NET SERVICES
  brewservice:
    build: 
      context: .
      dockerfile: BrewService/Dockerfile
    container_name: brewservice
    ports:
      - "5001:8080" # HTTP API сервиса
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318 # шлём телеметрию в Alloy
      - OTEL_SERVICE_NAME=brew-service # имя сервиса в трейcах/логах
    depends_on:
      - alloy

  orderservice:
    build: 
      context: .
      dockerfile: OrderService/Dockerfile
    container_name: orderservice
    ports:
      - "5002:8080"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
      - OTEL_SERVICE_NAME=order-service
    depends_on:
      - alloy

  inventoryservice:
    build: 
      context: .
      dockerfile: InventoryService/Dockerfile
    container_name: inventoryservice
    ports:
      - "5003:8080"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4318
      - OTEL_SERVICE_NAME=inventory-service
    depends_on:
      - alloy