auth_enabled: false

server:
  http_listen_port: 3100

limits_config:
  allow_structured_metadata: false

common:
  path_prefix: D:/observability/loki/data
  storage:
    filesystem:
      chunks_directory: D:/observability/loki/data/chunks
      rules_directory: D:/observability/loki/data/rules
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2023-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
