auth_enabled: false # вкл/ выкл аутентификацию в Loki

server:
  http_listen_port: 3100 # стандартный порт Loki

limits_config:
  allow_structured_metadata: false # новая фича Loki - вырубил для быстрого старта

common:
  path_prefix: D:/observability/loki/data # папка для хранения всех данных локи
  storage:
    filesystem:
      chunks_directory: D:/observability/loki/data/chunks # папка чанков логов
      rules_directory: D:/observability/loki/data/rules # папка с правилами, например алертами
  replication_factor: 1 # сколько копий данных хранить. В моем случае 1 - для одиночного локального инстанса
  ring:
    kvstore:
      store: inmemory # где локи хранит сост. кластеров, в моем случае - локальная машина

schema_config:
  configs:
    - from: 2023-01-01 # c какой даты применяется эта схема хранения
      store: boltdb-shipper # тип индекса, мой вариант - стандарт для локальных и небольших инсталляций
      object_store: filesystem # диск - для хранения данных
      schema: v11 # версия схемы локи
      index:
        prefix: index_
        period: 24h # один индекс в день создается (норм для локала)
